<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Treasure Snatcher | Katy Mollenkopf</title>
    <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
    <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
    
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
    >
    <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
    <!-- Favicon citation: https://www.goodfreephotos.com/vector-images/treasure-chest-vector-art.png.php -->
    <link rel="shortcut icon" href="/assets/img/favicon.png"/>
</head>
<body>
    <nav><a href="/login"></a>
    <div class="navlink col-lg-1 col-md-2 col-sm-4 col-4"><a href="/logout">Log out</a></div>
  </nav>
  <div id="app">
  </div>
    <div id="inventory">
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>